{{! banner2 section }}
<section class="banner2_section py-5 background2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center py-5">
        {{! left-side }}
        <h3>We work for people, not for money</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          velit iusto perferendis odio corrupti amet hic molestias. Soluta dolor
          ullam iure vitae iusto minima ex non maxime blanditiis, ea quos!</p>
        <button class="btn btn-primary">Click Here</button>
      </div>
      <div class="col-md-6 text-center py-2">
        {{! right-side }}
        <img
          src="/static/images/graphic1.svg"
          class="img-fluid"
          style="max-height: 300px;"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{{! banner3_section }}

<section class="banner2_section py-5 background2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center py-2">
        {{! left-side }}
        <img
          src="/static/images/graphic3.svg"
          class="img-fluid"
          style="max-height: 300px;"
          alt=""
        />
      </div>
      <div class="col-md-6 text-center py-5">
        {{! right-side }}
        <h3>We work for people, not for money</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          velit iusto perferendis odio corrupti amet hic molestias. Soluta dolor
          ullam iure vitae iusto minima ex non maxime blanditiis, ea quos!</p>
        <button class="btn btn-primary">Click Here</button>
      </div>

    </div>
  </div>
</section>