<section class="banner1_section py-5 background2">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Start learning new technology here!!
        </h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. In itaque
          tempore molestiae nam ea dolorum praesentium at similique id porro,
          nemo, ullam hic earum ducimus, perspiciatis assumenda nisi nesciunt
          possimus!
        </p>
        <button class="btn btn-outline-primary btn-dark">Start Exploring</button>
      </div>
    </div>
  </div>
</section>