<footer class="footer background2 text-center py-3">
<div class="container ">
  <div class="row">
    <div class="col-md-12 ">
      
        &#169; 2022 Copyright: <p>
         <u>Nocool Technical Solutions</u> 
        </p>
        
      
    </>
  </div>
</div>
</footer>